<!-- Banner -->
  <!-- Title -->
  <!-- Sub Title -->
<!-- Banner -->
<div class="banner">
  <div class="banner__content">
    <div class="banner__text">
      <h1 id="title">HN Feed</h1>
      <p>We <3 hacker news!</p>
    </div>
  </div>
</div>
<!-- List -->
  <!-- Ul -->
    <!-- title - Autor             Fecha   Eliminar-->
  <!-- Ul -->
<!-- List -->
<div>
  <ul *ngIf="hits.length">
    <div *ngFor="let hit of hits">
      <li class="list" *ngIf="hit.title || hit.story_title">
        <p id="title" (click)="goToLink(hit)">{{hit.title ? hit.title : hit.story_title}}</p>
        <p id="autor" (click)="goToLink(hit)"> - {{hit?.author}} - </p>
        <p id="date">{{hit?.created_at | timeAgo}}</p>
        <p id="delete" (click)="delete(hit)"> <fa-icon [icon]="faTrash"></fa-icon></p>
      </li>
    </div>
  </ul>
</div>
