.banner {
  background: #2a2a2a;
}
.banner__content {
  align-items: center;
  display: flex;
  margin: 0 auto;
  padding: 16px;
}

.banner__text {
  color: white;
  flex-grow: 1;
  line-height: 1.4;
  margin-left: 20px;

  #title {
    font-size: 3em;
    margin-block-end: -15px;
  }
}




  ul {
    list-style-type: none;
  }

  .list{

    float: left;
    list-style-type: none;
    margin: 10px;
    padding: 0px 20px;
    width: 90%;

    background-color: #fff;
    border: 1px solid #ccc;



    p{
      display: inline;
    }

    #title{
      color: #333;
      font-size: 13pt;
      float: left;
      padding-right: 20px;
    }

    #autor{
      color: #999;
      float: left;
      padding-right: 20px;
    }

    #delete{
      position: absolute;
      right: 10%;
    }

    #date{
      color: #333;
      font-size: 13pt;
      position: absolute;
      right: 15%;
    }


  }

  .list:hover {
    background-color: #fafafa;
  }



